<a href="https://colab.research.google.com/github/rahul-nayak01/sabhudh-python/blob/main/Python_Data_Structures__1737531523_5ea65d4bfbba7875acb26a15.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <font color='green'>Data</font>
Data is a crucial part when it comes to programming. So managing it becomes a mandatory action.

#  <font color='green'>Data Structures</font>

###### A data structure is a specialized format for organizing, processing, retrieving and storing data. Each data structure contains information about the data values, relationships between the data and functions that can be applied to the data.


##  <font color='green'>There are two types of Data Structures</font>
* Built-in Data Structure
* User-Defined Data Structure

<img src="https://miro.medium.com/v2/resize:fit:720/format:webp/1*1aYIbTXZtUB4MfpSirGohA.png">

###  <font color='green'>Python has four basic inbuilt data structures namely:</font>
* Lists
* Dictionary
* Tuple
* Set

###  <font color='green'>There are many operations that can be performed to process data in Data Structure:</font>
* Traversing
* Searching
* Insertion
* Deletion
* Sorting
* Merging

####  <font color='green'>Some Important Terms</font>
* <font color='red'>Mutability and Order</font>:
Mutability is something about whether we can change or not an object once it is created. If we can change it then it is called mutable else it is called immutable. Order is something about whether we can use the index (position)of an object to access the element.

# <font color='green'>Let's start with List</font>
* Lists are accessed just like strings (e.g. slicing and concatenation) so they are simple to use and they’re variable length, i.e. they grow and shrink automatically as they’re used.
* They are used to store data of different data types in a <font color='green'>sequential manner</font>.
* Lists are created using square brackets, [].
* Each item in a list is separated by a comma.
* List items are <font color='green'>indexed</font>, the first item has index [0], the second item has index [1] etc.
* List items are <font color='green'>ordered</font> and allow duplicate values.
* Lists are <font color='green'>mutable</font>, which means they can be changed.
* Python’s lists are implemented as <font color='green'>dynamic arrays</font> behind the scenes.

# **List Declaration and Initialisation**

In [ ]:
grocery_list = []
grocery_list = ['cake', 'milk']
number_list = [1, 2, 3, 4, 4, 4, 4]

# grocery_list[-1]
number_list

[1, 2, 3, 4, 4, 4, 4]

In [ ]:
grocery_list.append('chips')
grocery_list.append(3)
grocery_list.insert(0, 'milk')
grocery_list.insert(1, 'cake')


grocery_list

['milk', 'cake', 'cake', 'milk', 'chips', 3]

In [ ]:

temp = grocery_list[0]
grocery_list[0] = grocery_list[1]
grocery_list[1] = temp

In [ ]:
grocery_list

['cake', 'milk', 'cake', 'milk', 'chips', 'chips', 3, 'chips', 3]

In [ ]:
grocery_list[0], grocery_list[1] = grocery_list[1], grocery_list[0]

In [ ]:
grocery_list

['milk', 'cake', 'cake', 'milk', 'chips', 'chips', 3, 'chips', 3]

In [ ]:
'''To create a list, you use the square brackets and add elements into it accordingly.
If you do not pass any elements inside the square brackets, you get an empty list as the output.'''

my_list = [] #create empty list
print(my_list)
my_list = [100, 'Hi', 3, 'There', 500] #creating list with different type of data
print(my_list)

[]
[100, 'Hi', 3, 'There', 500]

In [ ]:
## access 2nd element in the list
my_list[1]
## access 2nd element from the tail of the list
my_list[-2]

'There'

In [ ]:
cart = []
cart = ["t-shirt", "trouser", "shoes"]
print(cart)

['t-shirt', 'trouser', 'shoes']

In [ ]:
cart[]

't-shirt'

# <font color='green'>**Adding Elements to List**</font>

Adding the elements in the list can be achieved using the append(), extend() and insert() functions.

* <font color='red'>*The append()*</font>   function adds all the elements passed to it as a single element.The method doesn't return any value (returns None)
                 
                 
* <font color='red'>*The extend()*</font> function adds the elements one-by-one into the list in other words The extend() method adds all the elements of an iterable (list, tuple, string etc.) to the end of the list. The method doesn't return any value (returns None)

                 
* <font color='red'>*The insert()*</font>    function adds the element passed to the index value and increase the size of the list too. The syntax of the insert() method is

                 list.insert(i, elem)

  Here, elem is inserted to the list at the ith index. All the elements after elem are shifted to the right. The insert() method doesn't return anything; returns None. It only updates the current list.'''

# **List Append**

# **`List Extend`**
Extend is used to merge two lists
"+" can also be used to merge two list

In [ ]:
cart.extend(["watch", "goggles"])
cart

['rubber',
 'trouser',
 'shoes',
 'tracksuit',
 'watch',
 'goggle',
 'watch',
 'goggles']

In [ ]:
cart2 = ["watch", "goggles"]

In [ ]:
cart = cart + cart2
cart

['t-shirt', 'trouser', 'shoes', 'watch', 'goggles']

In [ ]:

cart = ['t-shirt', 'trouser', 'shoes', 'tracksuit', 'watch', 'goggle']
cart[0] = 'rubber'
cart

['rubber', 'trouser', 'shoes', 'tracksuit', 'watch', 'goggle']

In [ ]:
num1 = [1,2,3]
num2 = [4,5]
final = num1 + num2
final

[1, 2, 3, 4, 5]

# **List Insert**

In [ ]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(my_list)
my_list.append([555, 12]) #add as a single element
print(my_list)
my_list.extend([234, 'string_data']) #add as different elements
print(my_list)
my_list.insert(5, 'insert_element') #add element i
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, [555, 12]]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, [555, 12], 234, 'string_data']
[1, 2, 3, 4, 5, 'insert_element', 6, 7, 8, 9, 10, [555, 12], 234, 'string_data']

In [ ]:
cart = ['shirt', 'pant', 'trousers', 'T-shirts']
cart.append("tracksuit")
cart

['shirt', 'pant', 'trousers', 'T-shirts', 'tracksuit']

In [ ]:
# syntax: list.insert(index, item)
cart.insert(1, "shirt")
cart

['rubber', 'shirt', 'trouser', 'shoes', 'tracksuit', 'watch', 'goggle']

# ***Debugging Derby:***

Question 1:

Declare one blank list and then add four items to it.

Question 2:

Initialize a list with first 10 natural numbers

Question 3:

Initialize a lsit with first 10 odd numbers

Question 4:

Initialise a list with first 10 even numbers:

Question 5:

Check if a list contains an element

Question 6:

Append all the months name in a list named year in one go

Question 7:

Insert a values at the begining of a list

In [ ]:
# Solution 1:

lst = []

lst.append(1)
lst.append(2)
lst.append(3)
lst.append(4)
lst

[1, 2, 3, 4]

In [ ]:
# Solution 2:

nat_numbers = []
for i in range(1, 11):
    nat_numbers.append(i)
print(nat_numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# Solution 3:

odd_numbers = []
for i in range(1, 21):
    odd_numbers.append(i) if i%2==1 else None
print(odd_numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
# Solution 4:

even_numbers = []
for i in range(1, 21):
    even_numbers.append(i) if i%2==0 else None
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
# Solution 5:

list = [1,2,3,4,5,6,7,8,9,10]

print(10 in list)

True

In [ ]:
# Solution 6:

year = []
year.extend(['January', 'Feburary', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'])
year

['January',
 'Feburary',
 'March',
 'April',
 'May',
 'June',
 'July',
 'August',
 'September',
 'October',
 'November',
 'December']

In [ ]:
# Solution 7:

year.insert(0, 'Happy New Year')
year

['Happy New Year',
 'January',
 'Feburary',
 'March',
 'April',
 'May',
 'June',
 'July',
 'August',
 'September',
 'October',
 'November',
 'December']

# <font color='green'>**Deleting Elements from a List**</font>

* <font color='red'>**del**</font>: To delete elements, use the del keyword which is built-in into Python, but this does not return anything back to us. The syntax of del statement is:

                          del obj_name

  Here, del is a Python keyword. And, obj_name can be variables, user-defined objects, lists, items within lists, dictionaries etc.
* <font color='red'>**pop()**</font>: If you want the element back, you use the pop() function which takes the index value. The pop() method removes the item at the given index from the list and returns the removed item.

    ** The pop() method takes a single argument (index).
    
    ** The argument passed to the method is optional. If not passed, the default index -1 is passed as an argument     (index of the last item).
    
    ** If the index passed to the method is not in range, it throws IndexError: pop index out of range exception.
    
    ** The pop() method returns the item present at the given index. This item is also removed from the list.
    

* <font color='red'>**remove()**</font>: To remove an element by its value, you use the remove() function. The remove() method removes the first matching element (which is passed as an argument) from the list.

    ** The remove() method takes a single element as an argument and removes it from the list.
    
    ** If the element doesn't exist, it throws ValueError: list.remove(x): x not in list exception.
    
    ** The remove() doesn't return any value (returns None).
    
    

* <font color='red'>**clear()**</font>:  The clear() method removes all items from the list. The clear() method only empties the given list. It doesn't return any value.

# **List Delete**

In [ ]:
my_list = [1, 2, 3, 'example', 3.132, 10, 'example', [30,'2']]
del my_list[5] #delete element at index 5
print(my_list)

[1, 2, 3, 'example', 3.132, 'example', [30, '2']]

# **List Remove**

In [ ]:
my_list.remove('example') #remove element with value(from the first occurence)
print(my_list)

[1, 2, 3, 3.132, 'example', [30, '2']]

In [ ]:
cart.remove("rubber")
cart

['shirt', 'trouser', 'shoes', 'tracksuit', 'watch', 'goggle']

# **List Pop**

In [ ]:
a = my_list.pop(3) #pop element from list, if no index is given it will pop the last element in the list
print('Popped Element: ', a, ' List remaining: ', my_list)

Popped Element:  3.132  List remaining:  [1, 2, 3, 'example', [30, '2']]

In [ ]:
# syntax: list.pop([index])
last_item = cart.pop()
last_item

'goggle'

In [ ]:
cart.pop(2)
cart

['shirt', 'trouser', 'tracksuit', 'watch']

# **List Clear**

In [ ]:
my_list.clear() #empty the list
print(my_list)

[]

## ***Syntax ShowDown***

Question 1: Write a Python program to remove an element from a list at a specific index.

Question 2: Write a Python program to remove the last element from a list.

Question 3: Write a Python program to remove the first element from a list.

Question 4: Write a Python program to pop an element from a list at a specific index.

Question 5: Write a Python program to remove elements from a list based on a certain condition.

Question 6: Write a Python program to remove all elements from a list.

In [ ]:
# Solution 1:

print('\nSolution 1')
my_list = [1, 2, 3, 4, 5]
del my_list[2]   # Remove the element at index 2
print(my_list)   # Output: [1, 2, 4, 5]


# Solution 2:
print('\nSolution 2')
my_list = [1, 2, 3, 2, 4, 2, 5]
while 2 in my_list:
    my_list.remove(2)
print(my_list)   # Output: [1, 3, 4, 5]


# Solution 3:
print('\nSolution 3')
my_list = [1, 2, 3, 4, 5]
del my_list[0]   # Remove the first element
print(my_list)   # Output: [2, 3, 4, 5]


# Solution 4:
print('\nSolution 4')
my_list = [1, 2, 3, 4, 5]
popped_element = my_list.pop(2)   # Pop the element at index 2
print(popped_element)   # Output: 3
print(my_list)   # Output: [1, 2, 4, 5]

# Solution 5:
print('\nSolution 5')
my_list = [1, 2, 3, 4, 5]
new_list = [x for x in my_list if x != 3]   # Remove all elements equal to 3
print(new_list)   # Output: [1, 2, 4, 5]

# Solution 6:
print('\nSolution 6')
my_list.clear() #empty the list
print(my_list)

Solution 1
[1, 2, 4, 5]

Solution 2
[1, 3, 4, 5]

Solution 3
[2, 3, 4, 5]

Solution 4
3
[1, 2, 4, 5]

Solution 5
[1, 2, 4, 5]

Solution 6
[]

# <font color='green'>**Accessing Elements in a List**</font>

In [ ]:
# Quite similar to access strings in python. You pass the index values and hence can obtain the values as needed.

my_list = [1, 2, 3, 'example', 3.132, 10, 30]
for element in my_list: #access elements one by one
    print(element)
print(my_list) #access all elements

print(my_list[3]) #access index 3 element

print(my_list[0:2]) #access elements from 0 to 1 and exclude 2

print(my_list[::-1]) #access elements in reverse
# [ <first element to include> : <first element to exclude> : <step> ]
print(my_list[0:3:1])
print(my_list[-1:-5:-2])

1
2
3
example
3.132
10
30
[1, 2, 3, 'example', 3.132, 10, 30]
example
[1, 2]
[30, 10, 3.132, 'example', 3, 2, 1]
[1, 2, 3]
[30, 3.132]

In [ ]:
my_list[::-1]

[30, 10, 3.132, 'example', 3, 2, 1]

In [ ]:
my_list

[30, 10, 3.132, 'example', 3, 2, 1]

In [ ]:
# converting string to a list of words
text = "Hello, we are learning python, dfjahsdfa"
lst = text.split(',')
lst

['Hello', ' we are learning python', ' dfjahsdfa']

In [ ]:
keywords = "science, IoT, DS, ML"
keywords_lst = keywords.split(',')
keywords_lst

['science', ' IoT', ' DS', ' ML']

In [ ]:
keywords_str = ", ".join(keywords_lst)
keywords_str

'science,  IoT,  DS,  ML'

## <font color='purple'>Exploring More on List</font>

* len()
* print()
* reverse()
* count()
* sorted()
* sort()
* slicing
* negative indexing
* list slicing
* list comprehension

In [ ]:
grocery_list = ['milk', 'cake', 'cake', 'milk', 'chips', [1, 2, 2]]

In [ ]:
sorted(grocery_list)

['cake', 'cake', 'chips', 'milk', 'milk']

# **List Length**

In [ ]:
total_items = len(cart)
total_items

4

# **List Printing**

In [ ]:
for item in cart:
  print(item)

shirt
trouser
tracksuit
watch

# **List as a Heterogenous Data Structure**

In [ ]:
person = ["Saksham", 17, 85.4, "eleven"] # name, age, percentage, class
print(person[0], "who is", person[1], "scored", person[2], "percent in", person[3] )

Saksham who is 17 scored 85.4 percent in eleven

# **List of List**

In [ ]:
matrix = [[12, 139],
          [14, 102],
          [11, 33]]
matrix

[[12, 139], [14, 102], [11, 33]]

In [ ]:
m = [[12, 139], [14, 102], [11, 33]]
m[1][0]

14

In [ ]:
matrix[2]

[11, 33]

In [ ]:
matrix[0][1]

139

# **List Reverse**

In [ ]:
print(cart)
cart.reverse()
cart

['shirt', 'trouser', 'tracksuit', 'watch']

['watch', 'tracksuit', 'trouser', 'shirt']

# **List Sort**
The easiest way to sort a List is with the sorted(list) function.

That takes a list and returns a new list with those elements in sorted order.

The original list is not changed.

The sorted() optional argument reverse=True, e.g. sorted(list, [reverse]),
makes it sort backwards.

In [ ]:
roll_numbers = [12, 1, 32, 13, 5, 4, 28]
roll_numbers_sorted = sorted(roll_numbers) # we got output in a new list
roll_numbers_sorted

[1, 4, 5, 12, 13, 28, 32]

In [ ]:
roll_numbers

[12, 1, 32, 13, 5, 4, 28]

In [ ]:
roll_numbers_sort_rev = sorted(roll_numbers, reverse = True)
roll_numbers_sort_rev

[32, 28, 13, 12, 5, 4, 1]

In [ ]:
roll_numbers.sort()
roll_numbers

[1, 4, 5, 12, 13, 28, 32]

# **Keywords for List**

In [ ]:
#keyword 'in' is used to test if an item is in a list
if 'trouser' in cart:
  print('Already Added')

#keyword 'not' can combined with 'in'
if 'watch' not in cart:
  cart.append('watch')
  print('Item Added')
cart

Already Added

['watch', 'tracksuit', 'trouser', 'shirt']

# **List Having Multiple Reference**

In [ ]:
lst1 = [1, 2, 3, 4, 5]
copy_lst1 = lst1
copy_lst1.append(6)

#print original list
print("Original list: ", lst1)

Original list:  [1, 2, 3, 4, 5, 6]

In [ ]:
id(copy_lst1), id(lst1)

(140351539804864, 140351539804864)

# **List Slicing**

In [ ]:
"""
slice syntax [start:end:step]
Default
start = 0
end = length
step = 1
"""
lst = [1.25, 3.26, 5, 2.3, 1, 7]
lst[:3]

[1.25, 3.26, 5]

In [ ]:
lst[3:]

[2.3, 1, 7]

In [ ]:
lst[2:5]

[5, 2.3, 1]

In [ ]:
lst[::2] # slicing with stepsize = 2

[1.25, 5, 1]

In [ ]:
lst[::-1] # reverse the List

[7, 1, 2.3, 5, 3.26, 1.25]

# **Negative Indexing**

In [ ]:
print(lst)
lst[-1] # Prints last elements

[1.25, 3.26, 5, 2.3, 1, 7]

7

In [ ]:
lst[-2]

1

# **String Split to create**

In [ ]:
text = "Hello, we are learning python"
lst = text.split()
lst

['Hello,', 'we', 'are', 'learning', 'python']

In [ ]:
lst = text.split(',')
lst

['Hello', ' we are learning python']

# **List Comprehension**
List comprehensions provide a concise way to create lists.

In [ ]:
lst = []
for num in range(1, 25, 2):
  lst.append(num)
lst

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23]

In [ ]:
lst = [num for num in range(1, 25,2)]
lst

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23]

When programming, frequently we want to transform one type of data into another. As a simple example, consider the following code that computes square numbers:

In [ ]:
nums = [0, 1, 2, 3, 4]
squares = []
for x in nums:
    squares.append(x ** 2)
print(squares)

[0, 1, 4, 9, 16]

You can make this code simpler using a list comprehension:

In [ ]:
nums = [0, 1, 2, 3, 4]
squares = [x ** 2 for x in nums]
print(squares)

[0, 1, 4, 9, 16]

List comprehensions can also contain conditions:

In [ ]:
nums = [0, 1, 2, 3, 4]
even_squares = [x ** 2 for x in nums if x % 2 == 0]
print(even_squares)

[0, 4, 16]

## Programmers' Paradise

    Question 1. Write a Python program to create a new list containing only the even elements of an existing list using list comprehension.

    Question 2. Write a Python program to create a new list containing only the elements that are multiples of 3 from an existing list using list comprehension.
    
    Question 3. Write a Python program to extract the last three elements of a list using negative indexing.
    
    Question 4. Write a Python program to extract the first three elements of a list using list slicing.
    
    Question 5. Write a Python program to extract every third element of a list using list slicing.
    
    Question 6. Write a Python program to reverse the order of elements in a list using a loop and slicing.
    
    Question 7. Write a Python program to reverse the order of elements in a list using the reversed() function.

In [ ]:
# Solutions :

# Solution 1:

print('\nSolution 1')
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
new_lst = [x for x in lst if x % 2 == 0]
print(new_lst)

# Solution 2:

print('\nSolution 2')
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
new_lst = [x for x in lst if x % 3 == 0]
print(new_lst)

# Solution 3:

print('\nSolution 3')
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
new_lst = lst[-3:]
print(new_lst)

# Solution 4:

print('\nSolution 4')
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
new_lst = lst[:3]
print(new_lst)

# Solution 5:

print('\nSolution 5')
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
new_lst = lst[::3]
print(new_lst)


# Solution 6:

print('\nSolution 6')
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
new_lst = []
for i in range(len(lst) - 1, -1, -1):
    new_lst.append(lst[i])
print(new_lst)

# Solution 7:

print('\nSolution 7')
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
new_lst = []
for i in range(len(lst) - 1, -1, -1):
    new_lst.append(lst[i])
print(new_lst)

Solution 1
[2, 4, 6, 8, 10]

Solution 2
[3, 6, 9]

Solution 3
[8, 9, 10]

Solution 4
[1, 2, 3]

Solution 5
[1, 4, 7, 10]

Solution 6
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

Solution 7
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

# **Tuples**
A tuple is similar to list

The diffence between the two is that we can't change the elements of tuple once it is assigned whereas in the list, elements can be changed

# Use cases
* Iterating Over Fixed Groups of Items: Tuples are often used in loops or iterations where each item is a fixed group.

```
records = [
    ("Alice", 30, "Engineer"),
    ("Bob", 25, "Designer"),
    ("Charlie", 35, "Manager"),
]
```

* Memory Efficiency: Tuples consume less memory compared to lists, making them efficient for large datasets that don't require modification.
* Storing Fixed-Size Data: Tuples are ideal for data that always has a specific structure and size, such as dates or database rows.

```
date = (2025, 1, 19)  # (year, month, day)
```

# **Tuple Declaration and Initialization**

In [ ]:
# x = (1, 2)
# type(x)

x = 1, 2
type(x)

tuple

In [ ]:
x = ['rice']
type(x)

list

In [ ]:
x = 1,
type(x)

tuple

In [ ]:
my_tuple = (1, 2, 3) #create tuple
print(my_tuple)
type(my_tuple)

(1, 2, 3)

tuple

In [ ]:
var = (3, )

In [ ]:
type(var)

tuple

In [ ]:
#empty tuple
task_bar = ()

#tuple with mixed datatypes
t = (1, 'raju', 28, 'abc')
print(t)

#nested tuple
task_bar = ('File', ('New', 'Save', 'Save As'), ['Insert','Clip Art', 'Table'])
print(task_bar)

(1, 'raju', 28, 'abc')
('File', ('New', 'Save', 'Save As'), ['Insert', 'Clip Art', 'Table'])

In [ ]:
#only parenthesis is not enough
task_bar = ('File')
print("type at first ", type(task_bar))

type at first  <class 'str'>

In [ ]:
#need a comma at the end
task_bar = ('File',)
print("type after putting comma ", type(task_bar))

type after putting comma  <class 'tuple'>

In [ ]:
#parenthesis is optional
task_bar = 'File',
print("type without parenthesis ", type(task_bar))
print(task_bar)

type without parenthesis  <class 'tuple'>
('File',)

# **Accessing Elements in Tuple**

In [ ]:
task_bar = ('File', 'Insert', 'Edit', 'View')
print(task_bar[1])

Insert

In [ ]:
#negative index
print(task_bar[-1]) #print last element in a tuple brahma

View

In [ ]:
#slicing
task_bar[1:3]

('Insert', 'Edit')

# **Changing a Tuple**
unlike lists, tuples are immutable

This means that elements of a tuple cannot be changed once it has been assigned. But, if the element is itself a mutable datatype like list, its nested items can be changed.

In [ ]:
task_bar = ('File', 'Insert', 'Edit', 'View')
task_bar[2] = 'Help' #will get TypeError

TypeError: 'tuple' object does not support item assignment

In [ ]:
t = ('File', ('New', 'Save', 'Save As'))
t[1][2] = 'Print'
print(t)

TypeError: ignored

In [ ]:
[1, 2, 3] + [4, 5]

[1, 2, 3, 4, 5]

In [ ]:
#concatenating tuples
t = ('File','Save') + ('New',)
print(t)

('File', 'Save', 'New')

In [ ]:
[1, 2, 3]  * 4

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
#repeat the elements in a tuple for a given number of times using the * operator.
t = (('File',)  * 4)
print(t)

('File', 'File', 'File', 'File')

# <font color='green'>**Indexing in a Tuple**</font>

* The index() method returns the index of the specified element in the tuple.
           
           tuple.index(element, start, end)
     
    The tuple index() method can take a maximum of three arguments:

    ** element - the element to be searched
    
    ** start (optional) - start searching from this index
    
    ** end (optional) - search the element up to this index
   
   RETURNS:
   
    ** The index() method returns the index of the given element in the tuple.
    ** If the element is not found, a ValueError exception is raised.

<font color='red'>**Note:**</font> The index() method only returns the first occurrence of the matching element.

In [ ]:
t = (1, 2, 1, 2, 6, 3, 1, 3, 3, 4, 1)
print(t.index(1)) # return index of the first occurence of the element

0

In [ ]:
grocery_list.index('cake')

NameError: name 'grocery_list' is not defined

In [ ]:
print(t.index(3))

5

## <font color='green'>**Other Operations On Tuple**</font>

In [ ]:
#repeat the elements in a tuple for a given number of times using the * operator.
t = (('File','book')  * 4)
print(t)

('File', 'book', 'File', 'book', 'File', 'book', 'File', 'book')

In [ ]:
#concatinating tuples
t = ('File','Save') + ('New','old')
print(t)

('File', 'Save', 'New', 'old')

# **Tuple Functions**

In [ ]:
tup = (1, 8, 4, 4, 5, 6, 15, 6, 6, 7, 2, 3, 5)

# Find the Length of the tuple
print("Length of Tuple: ", len(tup))

# count the frequency of a particular element
print("6 occurs,", tup.count(6), "times")

# Membership function - in
print(1 in tup) # returns True
print(9 in tup) # returns False

# sorting the tuple
print("Sorted Tuple", tuple(sorted(tup))) # sorted returns the list

# maximum element and minimium element
print("Maximum element is:", max(tup))
print("Minimum element is:", min(tup))

# Finding the total of elements
print("Total is:", sum(tup))

Length of Tuple:  13
6 occurs, 3 times
True
False
Sorted Tuple (1, 2, 3, 4, 4, 5, 5, 6, 6, 6, 7, 8, 15)
Maximum element is: 15
Minimum element is: 1
Total is: 72

In [ ]:
tup = (1, 2)

In [ ]:
tup1 = tup * 4

In [ ]:
id(tup)

138954516663232

In [ ]:
id(tup1)

138954512664496

In [ ]:
tup = (1, 2, [1, 2, 3])

In [ ]:
tup[2].append(3)

In [ ]:
x = 1000
y = 1000

print(id(x), id(y))

138954512199984 138954512203440

## ***Tuple Adventure***

    1. Write a Python program to create an empty tuple.

    2. Write a Python program to create a tuple with one item.

    3. Write a Python program to create a tuple with multiple items.

    4. Write a Python program to access a tuple using indexing.

    5. Write a Python program to access a tuple using negative indexing.

    6. Write a Python program to slice a tuple.

    7. Write a Python program to find the length of a tuple.
    
    8. Write a Python program to join two tuples.
    
    9. Write a Python program to convert a tuple to a list.
    
    10. Write a Python program to convert a list to a tuple.

### Solutions :

In [ ]:
print('\nSolution 1')

my_tuple = ()
print(my_tuple)

print('\nSolution 2')

my_tuple = ("apple",)
print(my_tuple)

print('\nSolution 3')

my_tuple = ("apple", "banana", "cherry")
print(my_tuple)

print('\nSolution 4')

my_tuple = ("apple", "banana", "cherry")
print(my_tuple[1])


print('\nSolution 5')

my_tuple = ("apple", "banana", "cherry")
print(my_tuple[-1])

print('\nSolution 6')

my_tuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon")
print(my_tuple[2:5])

print('\nSolution 7')

my_tuple = ("apple", "banana", "cherry")
print(len(my_tuple))

print('\nSolution 8')

tuple1 = ("apple", "banana", "cherry")
tuple2 = ("orange", "kiwi", "melon")
tuple3 = tuple1 + tuple2
print(tuple3)

print('\nSolution 9')

my_tuple = ("apple", "banana", "cherry")
my_list = list(my_tuple)
print(my_list)

print('\nSolution 10')

my_list = ["apple", "banana", "cherry"]
my_tuple = tuple(my_list)
print(my_tuple)

Solution 1
()

Solution 2
('apple',)

Solution 3
('apple', 'banana', 'cherry')

Solution 4
banana

Solution 5
cherry

Solution 6
('cherry', 'orange', 'kiwi')

Solution 7
3

Solution 8
('apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon')

Solution 9
['apple', 'banana', 'cherry']

Solution 10
('apple', 'banana', 'cherry')

# <font color='green'>**SETS**</font>

* Sets are a collection of unordered elements that are unique. Meaning that even if the data is repeated more than one time, it would be entered into the set only once. It resembles the sets that you have learnt in arithmetic. The operations also are the same as is with the arithmetic sets.

* The set itself is mutable. We can add or remove items from it.

* Sets can be used to perform mathematical set operations like

union: the set of elements combining both the sets

intersection: the set of elements that are present in both sets.

symmetric difference: the set of elements that are in either set, but not in both

 etc.

# <font color='green'>**Creating a set**</font>

Sets are created using the curly braces but instead of adding key-value pairs, you just pass values to it.

In [ ]:
my_set = {1, 2, 3, 4, 5, 5, 5} #create set
print(my_set)

{1, 2, 3, 4, 5}

In [ ]:
type({2, 2, 3 ,3})

set

In [ ]:
grocery_list_unique = set(grocery_list)

In [ ]:
new_set = set((1, 2, 3, 3))
type(new_set)

set

In [ ]:
empty_braces = {}
print(type(empty_braces))

<class 'dict'>

In [ ]:
roll_numbers = {1, 5, 4, 2, 3, 5, 6, 2, 3}
roll_numbers

{1, 2, 3, 4, 5, 6}

In [ ]:
len(roll_numbers)

6

# **No Indexing in sets**
roll_numbers[0] not Allowed

In [ ]:
roll_numbers[0]

TypeError: 'set' object is not subscriptable

# <font color='green'>**Adding elements**</font>

To add elements, you use the add() function and pass the value to it.

> EXAMPLE 1

In [ ]:
# Adding Single Element
roll_numbers.add(8)
roll_numbers

{1, 2, 3, 4, 5, 6, 8}

> EXAMPLE 2:

In [ ]:
my_set = {1, 2, 3}
my_set.add(5) #add element to set
print(my_set)

{1, 2, 3, 5}

### <font color='green'>**update() in Sets**</font>:
update method updates the set, adding items from other iterables.

> EXAMPLE 1

In [ ]:
# Adding Multiple Elements
roll_numbers.update([10, 12, 13 ])
roll_numbers

{1, 2, 3, 4, 5, 6, 8, 10, 12, 13}

> EXAMPLE 2

In [ ]:
# Adding Multiple Elements
my_set.update((10, 12, 13)) # update takes any iterable as input it could be list, dict, tuple
my_set

{1, 2, 3, 5, 10, 12, 13}

In [ ]:
string_alphabet = 'abc'
numbers_set = {1, 2}

# add elements of the string to the set
numbers_set.update(string_alphabet)

print('numbers_set =', numbers_set)

info_dictionary = {'key': 1, 'lock' : 2}
numbers_set = {'a', 'b'}

# add keys of dictionary to the set
numbers_set.update(info_dictionary, string_alphabet)
print('numbers_set =', numbers_set)

numbers_set = {1, 2, 'a', 'c', 'b'}
numbers_set = {'lock', 'a', 'c', 'b', 'key'}

## NOTE:
<font color="green">**No Indexing in sets**</font>

## <font color="green">**Removing Elements from Sets**</font>

* <font color="red">remove()</font>:

   ** The remove() removes the specified element from the set and updates the set. It doesn't return any value.
   
   ** If the element passed to remove() doesn't exist, KeyError exception is thrown.

* <font color="red">discard()</font>:

    ** The discard() method removes a specified element from the set (if present).

    ** This method returns None (meaning, absence of a return value).
    
* <font color="red"> pop()</font>:

    ** The pop() method removes an arbitrary element from the set and returns the element removed.
    
    ** The pop() method doesn't take any arguments.
    
    RETURNS:
    ** The pop() method returns an arbitrary (random) element from the set.
    
    ** Also, the set is updated and will not contain the element (which is returned).

    ** If the set is empty, TypeError exception is raised.
    
    
* <font color="red">clear()</font>: works common with all data structures.


<font color="red">Note</font>: remove() gives the error if the element is not present in the set
whereas discard does not give the error

> EXAMPLE 1

In [ ]:
# language set
language = {'English', 'French', 'German'}

# removing 'German' from language
language.remove('German')

# Updated language set
print('Updated language set:', language)

Updated language set: {'French', 'English'}

In [ ]:
language.remove('Germani')

KeyError: 'Germani'

> EXAMPLE 2

In [ ]:
numbers = {2, 3, 4, 5}

numbers.discard(3)
print('numbers = ', numbers)

numbers.discard(10)
print('numbers = ', numbers)

numbers =  {2, 4, 5}
numbers =  {2, 4, 5}

In [ ]:
A ={'a', 'b', 'c', 'd'}

print('Return Value is', A.pop())
print('A = ', A)

Return Value is d
A =  {'a', 'b', 'c'}

> EXAMPLE 3:

In [ ]:
print(roll_numbers)
roll_numbers.discard(4)
roll_numbers

{2, 3, 5, 6, 8, 10, 12}

{2, 3, 5, 6, 8, 10, 12}

In [ ]:
print(roll_numbers)
roll_numbers.remove(13)
roll_numbers

{2, 3, 5, 6, 8, 10, 12}

KeyError: 13

*remove() gives the error if the element is not present in the set
whereas discard does not give the error*

In [ ]:
# pop() in sets
roll_numbers.pop() # removes the random element
roll_numbers

{2, 3, 5, 6, 8, 10, 12}

In [ ]:
# clear() in sets
roll_numbers.clear()   #remove all items in set
roll_numbers

set()

## <font color="green">**Operations on Sets**</font>

* <font color="green">**union**</font>: The Python set union() method returns a new set with distinct elements from all the sets.
  The syntax of union() is:

        A.union(*other_sets)

  Note: * is not part of the syntax. It is used to indicate that the method can take 0 or more arguments.
  
  RETURNS:
  
    ** The union() method returns a new set with elements from the set and all other sets (passed as an argument).
    
    ** If the argument is not passed to union(), it returns a shallow copy of the set.
    

* <font color="green">**intersection**</font>: The intersection() method returns a new set with elements that are common to all sets.
  The syntax of intersection() in Python is:

        A.intersection(*other_sets)
        
  Note: * is not part of the syntax. It is used to indicate that the method can take 0 or more arguments.
  
  RETURNS:
  
    ** intersection() method returns the intersection of set A with all the sets (passed as argument).

    ** If the argument is not passed to intersection(), it returns a shallow copy of the set (A).


* <font color="green">**difference**</font>: The difference() method returns the set difference of two sets.
  The syntax of difference() method in Python is:

       A.difference(B)

  Here, A and B are two sets. The following syntax is equivalent to A-B.
  
  RETURNS:
  
    ** difference() method returns the difference between two sets which is also a set.
    
    ** It doesn't modify original sets.

## UNION

> EXAMPLE 1:

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

# union of 2 sets using | operator
set3 = set1 | set2
set3

{1, 2, 3, 4, 5, 6, 7}

> EXAMPLE 2:

In [ ]:
A = {'a', 'c', 'd'}
B = {'c', 'd', 2 }
C = {1, 2, 3}

print('A U B =', A.union(B))
print('B U C =', B.union(C))
print('A U B U C =', A.union(B, C))
print('A.union() =', A.union())

A U B = {2, 'a', 'd', 'c'}
B U C = {1, 2, 3, 'd', 'c'}
A U B U C = {1, 2, 'a', 3, 'd', 'c'}
A.union() = {'d', 'a', 'c'}

> EXAMPLE 3:

In [ ]:
# Set Union Using the | Operator
A = {'a', 'c', 'd'}
B = {'c', 'd', 2 }
C = {1, 2, 3}

print('A U B =', A| B)
print('B U C =', B | C)
print('A U B U C =', A | B | C)

A U B = {2, 'a', 'd', 'c'}
B U C = {1, 2, 3, 'd', 'c'}
A U B U C = {1, 2, 'a', 3, 'd', 'c'}

## INTERSECTION

In [ ]:
# intersection
A = {2, 3, 5, 4}
B = {2, 5, 100}
C = {2, 3, 8, 9, 10}

print(B.intersection(A))
print(B.intersection(C))
print(A.intersection(C))
print(C.intersection(A, B))

{2, 5}
{2}
{2, 3}
{2}

In [ ]:
A.difference(B)

{3, 4}

In [ ]:
B.difference(A)

{100}

In [ ]:
# Set Intersection Using & operator
A = {100, 7, 8}
B = {200, 4, 5}
C = {300, 2, 3, 7}
D = {100, 200, 300}

print(A & C)
print(A & D)


print(A & C & D)
print(A & B & C & D)

{7}
{100}
set()
set()

## DIFFERENCE

In [ ]:
# difference
A = {'a', 'b', 'c', 'd'}
B = {'c', 'f', 'g'}

# Equivalent to A-B
print(A.difference(B))

# Equivalent to B-A
print(B.difference(A))

{'a', 'b', 'd'}
{'f', 'g'}

> ### MORE EXAMPLES

In [ ]:
set1

{1, 2, 3, 4, 5}

In [ ]:
set2

{3, 4, 5, 6, 7}

In [ ]:
print("Union of set 1 and 2", set1.union(set2))
print("Intesection of set 1 and 2", set1.intersection(set2))
print("Difference of set 1 and 2", set1.difference(set2))
print("Symmetric Difference of set 1 and 2",set1.symmetric_difference(set2))

Union of set 1 and 2 {1, 2, 3, 4, 5, 6, 7}
Intesection of set 1 and 2 {3, 4, 5}
Difference of set 1 and 2 {1, 2}
Symmetric Difference of set 1 and 2 {1, 2, 6, 7}

# **issubset()**

In [ ]:
set1 = {"a","b","c","d","e"}
set2 = {"c","d"}

print("set '1' is subset of '2' ?", set1.issubset(set2)) #check set 1  is subset of set 2

print("set '2' is subset of '1' ?", set2.issubset(set1)) # check set 2 is subset of set 1

set '1' is subset of '2' ? False
set '2' is subset of '1' ? True

# Debugging Dilemma

### Questions

    Question 1. Write a Python program to create a set of numbers from 1 to 10 and check if 5 is present in the set.

    Question 2. Write a Python program to remove the intersection of a given set of numbers with another given set.
    
    Question 3. Write a Python program to find the union of two sets.
    
    Question 4. Write a Python program to find the intersection of two sets.
    
    Question 5. Write a Python program to find the difference between two sets.
    
    Question 6. Write a Python program to check if a given set is a subset of another set.
    
    Question 7. Write a Python program to add an element to a set.
    
    Question 8. Write a Python program to remove an element from a set.
    
    Question 9. Write a Python program to find the length of a set.
    
    Question 10. Write a Python program to create a set of unique characters from a given string.

In [ ]:
print('\nSolution 1')

numbers = set(range(1, 11))
if 5 in numbers:
    print("5 is present in the set")
else:
    print("5 is not present in the set")

print('\nSolution 2')

set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
intersection = set1.intersection(set2)
set1 -= intersection
print(set1)

print('\nSolution 3')

set1 = {1, 2, 3}
set2 = {3, 4, 5}
union = set1.union(set2)
print(union)

print('\nSolution 4')

set1 = {1, 2, 3}
set2 = {3, 4, 5}
intersection = set1.intersection(set2)
print(intersection)

print('\nSolution 5')

set1 = {1, 2, 3}
set2 = {3, 4, 5}
difference = set1.difference(set2)
print(difference)

print('\nSolution 6')

set1 = {1, 2, 3, 4, 5}
set2 = {2, 4, 5}
if set2.issubset(set1):
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

print('\nSolution 7')


numbers = {1, 2, 3}
numbers.add(4)
print(numbers)

print('\nSolution 8')

numbers = {1, 2, 3, 4}
numbers.discard(3)
print(numbers)

print('\nSolution 9')

numbers = {1, 2, 3, 4}
print(len(numbers))

print('\nSolution 10')

string = "hello"
unique_chars = set(string)
print(unique_chars)

Solution 1
5 is present in the set

Solution 2
{1, 2, 3}

Solution 3
{1, 2, 3, 4, 5}

Solution 4
{3}

Solution 5
{1, 2}

Solution 6
set2 is a subset of set1

Solution 7
{1, 2, 3, 4}

Solution 8
{1, 2, 4}

Solution 9
4

Solution 10
{'h', 'o', 'l', 'e'}

# <font color='green'>**DICTIONARY**</font>

* Dictionaries are used to store key-value pairs.

* Mutable

* we can't have two entries with the same key.

* A regular dict doesn’t track the insertion order, and iterating it gives the values in an arbitrary order.


To understand better, think of a phone directory where hundreds and thousands of names and their corresponding numbers have been added. Now the constant values here are Name and the Phone Numbers which are called as the keys. And the various names and phone numbers are the values that have been fed to the keys. If you access the values of the keys, you will obtain all the names and phone numbers. So that is what a key-value pair is. And in Python, this structure is stored using Dictionaries.

# **Dict Declaration and Intialization**

In [ ]:
cart = {'cake': 20, 'milk': 70, 'chips': 20, 'can': '$90'}

In [ ]:
cart['milk'] ='$20'

In [ ]:
#empty dictionary
cart = {}
#dictionary with integer keys
cart = {'shirt': 5000, 't-shirt': 4500}
print(cart)
#dictionary with mixed keys
cart = {'name': 'satish', 1: ['abc', 'xyz']}
print(cart)
#create empty dictionary using dict()
cart = dict()
cart = dict([('shirt', 5000), ('t-shirt', 4500)])    #create a dict with list of tuples
print(cart)

{'shirt': 5000, 't-shirt': 4500}
{'name': 'satish', 1: ['abc', 'xyz']}
{'shirt': 5000, 't-shirt': 4500}

## <font color='green'>Changing and Adding key, value pair</font>


Dictionaries can be created using the curly braces or using the dict() function. You need to add the key-value pairs whenever you work with dictionaries.

To change the values of the dictionary, you need to do that using the keys. So, you firstly access the key and then change the value accordingly. To add values, you simply just add another key-value pair as shown below.

In [ ]:
my_dict = {'First': 'Python', 'Second': 'Java'}
print(my_dict)

my_dict['Second'] = 'C++' #changing element
print(my_dict)

my_dict['Third'] = 'Ruby' #adding key-value pair
print(my_dict)

{'First': 'Python', 'Second': 'Java'}
{'First': 'Python', 'Second': 'C++'}
{'First': 'Python', 'Second': 'C++', 'Third': 'Ruby'}

In [ ]:
cart

{'cake': 20, 'milk': '$20', 'chips': 20, 'can': '$90'}

In [ ]:
cart.keys()

dict_keys(['cake', 'milk', 'chips', 'can'])

In [ ]:
cart.values()

dict_values([20, '$20', 20, '$90'])

In [ ]:
cart.items()

dict_items([('cake', 20), ('milk', '$20'), ('chips', 20), ('can', '$90')])

In [ ]:
cart.get('flour', 90)

90

In [ ]:
cart.get("adsfasd", 50)

50

# **Dict Access**

## <font color='green'>Accessing Elements</font>
* You can access elements using the key.

*  <font color='green'>get()</font>: method returns the value for the specified key if key is in dictionary. Also called Safe Accessing,
              
              dict.get(key[, value])
        
    ** key - key to be searched in the dictionary
    
    ** value (optional) - Value to be returned if the key is not found. The default value is None.
    
    RETURNS:
    
    ** the value for the specified key if key is in dictionary.
    
    ** None if the key is not found and value is not specified.
    
    ** value if the key is not found and value is specified.

In [ ]:
#get item
print(cart['shirt'])

5000

In [ ]:
#if key is not present it gives KeyError
print(cart['trousers'])

KeyError: 'trousers'

In [ ]:
#another way of accessing key
print(cart.get('shirt'))

5000

In [ ]:
#if key is not present it will give None using get method
print(cart.get('trousers'))

None

In [ ]:
my_dict = {'First': 'Python', 'Second': 'Java'}
print(my_dict['First']) #access elements using keys
print(my_dict.get('Second','element does not exist'))

Python
Java

# **Dict Add or Modify Elements**

In [ ]:
#update price
cart['shirt'] = 4000
cart

{'shirt': 4000, 't-shirt': 4500}

In [ ]:
#add new key
cart['trouser'] = 500
cart
l = [1,2,3]
l[2] = 4

{'shirt': 4000, 't-shirt': 4500, 'trouser': 500}

# **Dict Delete or Remove Element**

In [ ]:
#remove a particular item
print(cart.pop('shirt'))
cart

4000
{'t-shirt': 4500, 'trouser': 500}

In [ ]:
#remove an arbitarty key
cart.popitem()
cart

{'t-shirt': 4500}

In [ ]:
cart.clear()
cart

{}

## <font color='green'>Deleting key, value pairs</font>

* <font color='red'>**pop()**</font>: The pop() method removes and returns an element from a dictionary having the given key.

  The syntax of pop() method is

          dictionary.pop(key[, default])
          
  
   ** key - key which is to be searched for removal
   ** default - value which is to be returned when the key is not in the dictionary
  
  The pop() method returns:

    If key is found - removed/popped element from the dictionary
    If key is not found - value specified as the second argument (default)
    If key is not found and default argument is not specified - KeyError exception is raised


* <font color='red'>**popitem()**</font>: The Python popitem() method removes and returns the last element (key, value) pair inserted into the dictionary. It doesn't take any parameters.

    The popitem() method removes and returns the (key, value) pair from the dictionary in the Last In, First Out (LIFO) order.

    ** Returns the latest inserted element (key,value) pair from the dictionary.
    
    ** Removes the returned element pair from the dictionary.


* <font color='red'>**clear()**</font>: works as same of list

In [ ]:
my_dict = {'First': 'Python', 'Second': 'Java', 'Third': 'Ruby'}

pop_element = my_dict.pop('Third') #pop element
default_val = my_dict.pop('Third', "return this is searching key does not exist")
print('Value:', pop_element)
print('Def Return:', default_val)
print('Dictionary:', my_dict)


b = my_dict.popitem() #pop the key-value pair
print('Key, value pair:', b)
print('Dictionary', my_dict)


my_dict.clear() #empty dictionary
print('n', my_dict)

Value: Ruby
Def Return: return this is searching key does not exist
Dictionary: {'First': 'Python', 'Second': 'Java'}
Key, value pair: ('Second', 'Java')
Dictionary {'First': 'Python'}
n {}

# **Dictionary Methods**

In [ ]:
cart = {'shirt': 5000, 't-shirt': 4500, 'watch': 10000, 'trousers': 500}
cart.items()

dict_items([('shirt', 5000), ('t-shirt', 4500), ('watch', 10000), ('trousers', 500)])

In [ ]:
cart.keys()

dict_keys(['shirt', 't-shirt', 'watch', 'trousers'])

In [ ]:
cart.values()

dict_values([5000, 4500, 10000, 500])

In [ ]:
for item, price in cart.items():
  print(item,"-> Rs.",price)

shirt -> Rs. 5000
t-shirt -> Rs. 4500
watch -> Rs. 10000
trousers -> Rs. 500

# ***Development Dash***

### Dictionary problems

    1. Write a Python program to add an item to a dictionary.
    
    2. Write a Python program to remove an item from a dictionary.
    
    3. Write a Python program to modify an item in a dictionary.
    
    4. Write a Python program to print all keys and values of a dictionary.
    
    5. Write a Python program to sort a dictionary by values.

    6. Write a Python program to concatenate two dictionaries.

    7. Write a Python program to find the highest 3 values in a dictionary.

    8. Write a Python program to remove duplicates values from a dictionary.

In [ ]:
# Solutions

print('\nSolution 1')

my_dict = {'apple': 2, 'banana': 3, 'cherry': 5}
my_dict['orange'] = 4
print(my_dict)

print('\nSolution 2')

my_dict = {'apple': 2, 'banana': 3, 'cherry': 5}
del my_dict['banana']
print(my_dict)


print('\nSolution 3')

my_dict = {'apple': 2, 'banana': 3, 'cherry': 5}
my_dict['banana'] = 4
print(my_dict)

print('\nSolution 4')

my_dict = {'apple': 2, 'banana': 3, 'cherry': 5}
for key, value in my_dict.items():
    print(key, value)


print('\nSolution 5')

my_dict = {'apple': 2, 'banana': 3, 'cherry': 5}
sorted_dict = {k: v for k, v in sorted(my_dict.items(), key=lambda item: item[1])}
print(sorted_dict)


print('\nSolution 6')

dict1 = {'apple': 2, 'banana': 3}
dict2 = {'cherry': 5, 'orange': 4}
concatenated_dict = {**dict1, **dict2}
print(concatenated_dict)

print('\nSolution 7')

my_dict = {'apple': 2, 'banana': 3, 'cherry': 5, 'orange': 4, 'pear': 6}
sorted_values = sorted(my_dict.values(), reverse=True)
highest_3 = sorted_values[:3]
print(highest_3)

print('\nSolution 8')

my_dict = {'apple': 2, 'banana': 3, 'cherry': 5, 'orange': 4, 'pear': 6, 'mango': 3}
unique_dict = {}
for key, value in my_dict.items():
    if value not in unique_dict.values():
        unique_dict[key] = value
print(unique_dict)

Solution 1
{'apple': 2, 'banana': 3, 'cherry': 5, 'orange': 4}

Solution 2
{'apple': 2, 'cherry': 5}

Solution 3
{'apple': 2, 'banana': 4, 'cherry': 5}

Solution 4
apple 2
banana 3
cherry 5

Solution 5
{'apple': 2, 'banana': 3, 'cherry': 5}

Solution 6
{'apple': 2, 'banana': 3, 'cherry': 5, 'orange': 4}

Solution 7
[6, 5, 4]

Solution 8
{'apple': 2, 'banana': 3, 'cherry': 5, 'orange': 4, 'pear': 6}

Questions:

Question 1: Write a Python program to create a set of numbers from 1 to 10 and check if 5 is present in the set.

Question 2: Write a Python program to remove the intersection of a given set of numbers with another given set.

Question 3: Write a Python program to find the union of two sets.

Question 4: Write a Python program to find the intersection of two sets.

Question 5: Write a Python program to find the difference between two sets.

Question 6: Write a Python program to check if a given set is a subset of another set.

Question 7: Write a Python program to add an element to a set.

Question 8: Write a Python program to remove an element from a set.

Question 9: Write a Python program to find the length of a set.

Questions  10: Write a Python program to create a set of unique characters from a given string.

In [ ]:
# Solutions

print("\nSolution1")
number = {1,2,3,4,5,6,7,8,9,10,11}

if 5 in number:
  print("5 is present")
else:
  print("Nott present")

print("\nSolution2")

set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
intersection = set1.intersection(set2)
set1 -= intersection
print(set1)

print("\nSolution3")

set1 = {1, 2, 3}
set2 = {3, 4, 5}
union = set1.union(set2)
print(union)

print("\nSolution4")

set1 = {1, 2, 3}
set2 = {3, 4, 5}
intersection = set1.intersection(set2)
print(intersection)

print("\nSolution5")

set1 = {1, 2, 3}
set2 = {3, 4, 5}
difference = set1.difference(set2)
print(difference)

print("\nSolution6")

set1 = {1, 2, 3, 4, 5}
set2 = {2, 4, 5}
if set2.issubset(set1):
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

print("\nSolution7")

set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
intersection = set1.intersection(set2)
set1 -= intersection
print(set1)

print("\nSolution8")

set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
intersection = set1.intersection(set2)
set1 -= intersection
print(set1)

print("\nSolution9")

numbers = {1, 2, 3, 4}
print(len(numbers))

print("\nSolution10")

string = "hello"
unique_chars = set(string)
print(unique_chars)

Solution1
5 is present

Solution2
{1, 2, 3}

Solution3
{1, 2, 3, 4, 5}

Solution4
{3}

Solution5
{1, 2}

Solution6
set2 is a subset of set1

Solution7
{1, 2, 3}

Solution8
{1, 2, 3}

Solution9
4

Solution10
{'h', 'o', 'l', 'e'}